node_modules/
.vscode/
assets/pictures/
assets/cookies.json
assets/insertInput.xml
assets/updateInput.xml
assets/deleteInput.xml
assets/output.xml
assets/db.json
assets/appstate.json
config.js
npm-debug.log
error.png