module.exports = {
    picturesFolder: 'assets/pictures/',
    cookiesFile: 'assets/cookies.json',
    insertInputFile: 'assets/insertInput.xml',
    updateInputFile: 'assets/updateInput.xml',
    deleteInputFile: 'assets/deleteInput.xml',
    outputFile: 'assets/output.xml',
    dbFile: 'assets/db.json',
    login: '',
    password: '',
    itemCategory: 'Property For Sale',
    headless: true,
    commit: false,
    intervalBetweenSellings: [30, 300]
}