module.exports = {
    picturesFolder: 'assets/pictures/',
    cookiesFile: 'assets/cookies.json',
    inputFile: 'assets/input.xml',
    login: '',
    password: '',
    itemCategory: 'Property For Sale',
    headless: true
}